In [14]:
list1=[1,5,6,8,4,7,3]
list2=[2,9,10,0,5,6,8]

### 1. Reverse the list

In [15]:
list1.reverse()
print(list1)

[3, 7, 4, 8, 6, 5, 1]

### 2. Concatenate two lists index wise

In [32]:
l1=["M","na","i","Si"]
l2=["y","me","s","mon"]
l3=[]
for i in range(len(l1)):
    l3.append(l1[i]+l2[i])
    
print(l3)

['My', 'name', 'is', 'Simon']

### 3. Turn every list item into its square

In [42]:
for i in range(len(list1)):
    list1[i]=list1[i]**2
print(list1)

[9, 49, 16, 81, 36, 25, 1]

### 4.Concatenate two lists in following order
#### list1 = ["Hello ", "take "]
#### list2 = ["Dear", "Sir"]
#### OUTPUT : ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [53]:
lst1=["Hello","take"]
lst2=["Dear","Sir"]
lst3=[]

for i in range(len(lst1)):
    for j in range(len(lst2)):
        result=lst1[i]+" "+lst2[j]
        lst3.append(result)
print(lst3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

### 5.Iterate both simultaneously

In [55]:
for i,j in zip(list1,list2):
    print(i,j)

9 2
49 9
16 10
81 0
36 5
25 6
1 8