###  1. Create an Empty list name lst, and add 5 numbers to it

In [1]:
lst=[]
lst.append(8)
lst.append(27)
lst.append(12)
lst.append(6)
lst.append(88)

print(lst)

[8, 27, 12, 6, 88]

### 2. In the above list interchange the value of the first and last element.

In [2]:
temp=lst[-1]
lst[-1]=lst[0]
lst[0]=temp

print(lst)

[88, 27, 12, 6, 8]

### 3. In lst insert 9 at index 3 in the list.

In [3]:
lst.insert(3,9)

print(lst)

[88, 27, 12, 9, 6, 8]

### 4. Use the same list and print the maximum and mimimum number in the list.

In [4]:
print("Maximum number in the list : ",max(lst))
print("Minimum number in the list : ",min(lst))

Maximum number in the list :  88
Minimum number in the list :  6

### 5. Remove all the even numbers from the lst.

In [21]:
for i in lst:
    if i%2==0:
        lst.remove(i)
print(lst)

[27, 9]

### 6. Remove all the numbers that have 1 as a digit in the list below

In [18]:
import random
random.seed(4)

lst1 = random.sample(range(1,100),20)

print("Original", lst1)

#creating another list of same elements
lst2=lst1



#converting int to string
for i in range(0,len(lst2)):
    lst2[i]=str(lst2[i])
    
#removing elements    
for j in lst2:
    if "1" in j:
        lst2.remove(j)

print("New List ",lst2)

Original [31, 39, 14, 93, 51, 62, 20, 12, 9, 3, 52, 71, 38, 98, 8, 29, 67, 69, 47, 36]
New List  ['39', '93', '62', '20', '9', '3', '52', '38', '98', '8', '29', '67', '69', '47', '36']

### 7. Display the list above in descending order.

In [103]:
#converting list back to int
for i in range(0,len(lst2)):
    lst2[i]=int(lst2[i])

lst3=lst2
lst3.sort(reverse=True)
print(lst3)

[98, 93, 69, 67, 62, 52, 47, 39, 38, 36, 29, 20, 9, 8, 3]

### 8. Display the first and characters of each word in the string below.

In [21]:
string = "Display only the first and last character in this string"
                
j=string.split()    #this will split each word in a string
print(j)

for i in j: # i will traverse through each word that is j
    #print(i)  # the variable i holds words
    print(i[0],i[-1])  #i[0] will give us first letter of each word & i[-1] will give us last word 
    
   
    
#j[0] will give us each word and if we loop through j using i then i[0] will give us each letter of j

['Display', 'only', 'the', 'first', 'and', 'last', 'character', 'in', 'this', 'string']
D y
o y
t e
f t
a d
l t
c r
i n
t s
s g

### 9. In the below sting eleminate all the vowels and display the output

In [22]:
string = "Eleminate all the vowels in this string"
str2=string.lower()
for i in str2:
    if ( i=="e" or i=='a' or i=='i' or i=='o' or i=='u'):
        str2=str2.replace(i,"")
    
        
print(string)
print(str2)

Eleminate all the vowels in this string
lmnt ll th vwls n ths strng

### 10. Take a string as input from user and check if it is a palindrome or not. A palindrome is a word, number, phrase, or other sequence of characters which reads the same backward as forward, such as madam or racecar.

In [144]:
string=input("Enter a string : ")
s=string.lower()

#converting string into its reverse
string1=string[::-1]
ss=string1.lower()
print("String in reverse order : ",string1)

#checking for both the strings
if ss==s:
    print("It is a pallindrome")
else:
    print("It is not a pallindrome")

Enter a string : MAdam
String in reverse order :  madAM
It is a pallindrome

### 11. Based on a list of countries, create a new list, containing only the countries with the letter "a" in the name.
* try and use LIST COMPREHENSION if you can

In [49]:
countries = ["Armenia","Liechtenstein","Barbados","Albania","Croatia","Estonia", "India", "South Korea", "Russia", "Chad"]

newlist=[nl for nl in countries if "a" in nl]

print(newlist)

['Armenia', 'Barbados', 'Albania', 'Croatia', 'Estonia', 'India', 'South Korea', 'Russia', 'Chad']

### 12. In the above list display the names in alphabetical order

In [52]:
newlist.sort()
print(newlist)

['Albania', 'Armenia', 'Barbados', 'Chad', 'Croatia', 'Estonia', 'India', 'Russia', 'South Korea']